*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

.clearfix::after{
    content: '';
    display: table;
    clear: both;

}
body{
    
    font-family: 'Open Sans', sans-serif;
}
    


header{
    width: 100%;
}

ul{
    display: inline-block;
    vertical-align: top;
    
}

.nav-bar{
    width: 100%;
    
    background-color: brown;

}

.nav-bar-right{
   padding-left: 70%;
  
}


li{
    display: inline-block;
    
    
}  




    




