*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

.clearfix::after{
    content: '';
    display: table;
    clear: both;

}
body{
    
    font-family: 'Open Sans', sans-serif;
}
    


header{
    width: 100%;
}

ul{
    display: inline-block;
    vertical-align: top;
    
}

.nav-bar{
    width: 100%;
    background-color: brown;
    

}

.nav-bar-right{
   margin-left: 70%;
  
}


li{
    display: inline-block;
    
    
}  

.sub-header{
    width: 100%;
    height: 800px;
    background-color: green;
}

.btn a{
    width: 8%;
    border: 20px solid blue;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}    
    
    
    







    




